
<!DOCTYPE html>
<html>
  <head>
    <title>Daniel Pinho Monteiro | Desenvolvedor Full Stack</title>
    <!-- Required meta tags always come first-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Matt Farley">
    <meta name="author" content="Matt Farley">
    <meta property="og:locale" content="pt_BR">
    <meta name="description" content="Daniel Pinho Monteiro | Desenvolvedor Full Stack">
    <meta property="og:description" content="Daniel Pinho Monteiro | Desenvolvedor Full Stack">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="application/ld+json">
      {"@context":"http://schema.org","@type":"WebSite","name":"Daniel Pinho Monteiro","headline":"Daniel Pinho Monteiro","author":{"@type":"Person","name":"Daniel Pinho Monteiro"},"description":"Daniel Pinho Monteiro | Desenvolvedor Full Stack","url":"http://www.danielpinhomonteiro.com/"}
      
    </script>
  </head>
  <body>
    <div id="wrapper">
      <header></header>
      <!-- Start Hero Section-->
      <div id="fullscreen-hero" class="home-hero">
        <a href="#" class="home-logo">
          <img src="images/logo.png">
        </a>
        <div class="hero-container">
          <div class="hero-content">
            <h1 class="cd-headline letters type"><span>Olá, eu sou o Daniel. Eu desenvolvo</span><br><span class="cd-words-wrapper"><b class="is-visible">sistemas web.</b><b>sites.</b><b>e-commerce.</b><b>aplicativos.</b></span></h1>
            <div class="page-scroll">
              <a href="#sub-footer" class="button button-ghost">Sim, estou disponível para contratação</a>
            </div>
            <div class="page-scroll learn-more"><a href="#me">Learn more about what I do<br><i class="fa fa-chevron-down"></i></a></div>
          </div>
        </div>
      </div>
      <!-- Start Experience Section-->
      <section id="me">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">My Expertise</p>
              <p class="statement gunmetal">I've got chops in all phases of the design process.</p>
            </div>
          </div>

          <div class="row">
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-diamond yellow"></i>
                <h4 class="title slate">Ideas</h4>
                <p class="summary">I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-magic yellow"></i>
                <h4 class="title slate">Front-end</h4>
                <p class="summary">I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-code yellow"></i>
                <h4 class="title slate">Back-end</h4>
                <p class="summary">I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.</p>
              </div>
            </div>
          </div>

          <div class="row mb-30">
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-database yellow"></i>
                <h4 class="title slate">Database</h4>
                <p class="summary">I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-cloud yellow"></i>
                <h4 class="title slate">Integrations</h4>
                <p class="summary">I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-search yellow"></i>
                <h4 class="title slate">Test</h4>
                <p class="summary">I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.</p>
              </div>
            </div>
          </div>

          <div class="page-scroll">
            <a href="https://www.linkedin.com/in/daniel-pinho-monteiro-219aa463/" target="_blank" class="button button-blue">
              <i class="fa fa-linkedin yellow"></i>
              <span>Full profile on Linkedin</span>
            </a>
          </div>

        </div>
      </section>
      <!-- Start Work Section-->
      <div id="work">
        <div class="container">
          <div class="row">
            <div class="twleve columns">
              <p class="intro slate">My Work</p>
              <p class="statement gunmetal">Want to see more examples? <a href="/cdn-cgi/l/email-protection#0b666a7f7f4b7b6e656f6e6a7d647925686466">Email me</a>.</p>
            </div>
          </div>
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-right"><img src="images/projects/primeiro-sonho.png" class="project-image"></div>
              <div class="six columns u-pull-left">
                <div class="project-content text-left">
                  <h3 class="project-title">PrimeiroSonho</h3>
                  <ul class="project-tags">
                    <li>NodeJS, MongoDB, Bootstrap, jQuery, AWS</li>
                  </ul>
                  <p class="project-description">Ideas and define requirements, front and back-end development, database modeling, software architecture, unit tests, devops</p>
                  <a href="http://www.primeirosonho.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-left"><img src="images/projects/wetaste.png" class="project-image"></div>
              <div class="six columns u-pull-right">
                <div class="project-content text-right">
                  <h3 class="project-title">WeTaste</h3>
                  <ul class="project-tags">
                    <li>PHP, MySQL, Bootstrap, jQuery, AWS</li>
                  </ul>
                  <p class="project-description"></p>
                  <a href="http://www.wetaste.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-right"><img src="images/projects/meatnet.png" class="project-image"></div>
              <div class="six columns u-pull-left">
                <div class="project-content text-right">
                  <h3 class="project-title">MeatNet</h3>
                  <ul class="project-tags">
                    <li>NodeJS, Angular, MongoDB, Materialize, AWS</li>
                  </ul>
                  <p class="project-description"></p>
                  <a href="http://www.meatnet.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Start WIP Section-->
      <section id="wip">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">Personal Projects</p>
              <p class="statement gunmetal">When I'm not freelancing, I'm working on digital products.</p>
            </div>
          </div>
          <div class="row">
            <div class="one-third column">
              <div class="expertise-block wow"><a href="https://ylbuilders.com" target="_blank" class="startup-brand"><img src="images/ylbuilders.jpg"></a>
                <p class="description"><a href="https://ylbuilders.com" target="_blank">YL Builders </a>is platform that helps independent distributors of Young Living essential oils grow their business through automated class promotion and prospect follow-up management.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><a href="https://usebasin.com" target="_blank" class="startup-brand"><img src="images/basin.jpg"></a>
                <p class="description">Basin is a form endpoint and submission management app. I designed and built the front-end, and <a href="https://anthonypenner.com/" target="_blank">Anthony Penner </a>built the backend. We launched it in June of this year.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><a href="https://launchwithhouston.com" target="_blank" class="startup-brand"><img src="images/houston.jpg"></a>
                <p class="description">Houston helps founders grow, engage, and learn from their early adopter email list, so they can launch a winning product. I recently acquired it from  <a href="https://twitter.com/JasonOak" target="_blank">Jason Oakley </a>and <a href="https://twitter.com/stenback" target="_blank">Matthew Stenback</a>.</p>
              </div>
            </div>
          </div>

          <div class="row mb-30">
            <div class="one-third column">
              <div class="expertise-block"><a href="https://trydesignlab.com" target="_blank" class="startup-brand"><img src="images/designlab.jpg"></a>
                <p class="description"><a href="http://trydesignlab.com/" target="_blank">Designlab </a>is an online education platform that features project-based learning and 1-on-1 mentorship from industry experts. I mentor students in their UX Academy program.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block wow"><a href="http://dovetail.io" target="_blank" class="startup-brand"><img src="images/dovetail.jpg"></a>
                <p class="description">Dovetail is a free, open source member management app for coworking spaces I built with <a href="https://vhodges.github.io/" target="_blank">Vince Hodges</a>. Over 1,070 coworking spaces worldwide have created accounts.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><a href="http://userforge.com" target="_blank" class="startup-brand"><img src="images/userforge.jpg"></a>
                <p class="description">UserForge is a simple web app that helps people quickly create, share and iterate user personas for design projects. <a href="http://edgemethod.com/" target="_blank">Alvin Engler </a>and I are currently working on a 2.0 release.</p>
              </div>
            </div>
          </div>

          <div class="page-scroll">
            <a href="https://github.com/danielmonteiro" target="_blank" class="button button-blue">
              <i class="fa fa-github yellow"></i>
              <span>Projects on Github</span>
            </a>
          </div>

        </div>
      </section>
      <!-- Start Action Section-->
      <section id="sub-footer" class="cd-section">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">Want to work together?</p>
              <p class="statement slate">I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
              <div class="cd-modal-action"><a href="#0" data-type="modal-trigger" class="btn">Get Started</a><span style="" class="cd-modal-bg"></span>
                <div class="cd-modal">
                  <div class="cd-modal-content">
                    <!-- modal content here-->
                    <div class="container">
                      <div class="row">
                        <div class="twelve columns">
                          <div class="contact-header"><a href="http://mattfarley.ca" class="logo">Matt Farley | Full Stack Designer & Maker of Digital Things</a></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="eight columns offset-by-two columns">
                          <p class="intro white">Ok, just a few quick questions.</p>
                          <p class="statement white">After you introduce yourself and your project, I'll get in touch with you to schedule a time to chat. You should expect to hear from me in a day or so.</p>
                        </div>
                      </div>
                      <div class="form-container">
                        <form accept-charset="UTF-8" action="https://usebasin.com/f/363b98eca5af" method="POST">
                          <div class="row">
                            <div class="six columns">
                              <input id="name" type="text" name="name" placeholder="Name *" required="" class="u-full-width">
                            </div>
                            <div class="six columns">
                              <input id="email" type="email" name="email" placeholder="Email address *" required="" class="u-full-width">
                            </div>
                          </div>
                          <div class="row">
                            <div class="six columns">
                              <input id="phone" type="text" name="phone" placeholder="Phone number" class="u-full-width">
                            </div>
                            <div class="six columns">
                              <input id="website" type="text" name="website" placeholder="Website" class="u-full-width">
                            </div>
                          </div>
                          <div class="row">
                            <div class="twelve columns">
                              <textarea id="Message" name="message" placeholder="Tell me about your project... what is it? Why are you doing it? What do you hope to accomplish? How can I help? Timeline and budget details are also appreciated. *" height="50em" required="" class="u-full-width"></textarea>
                              <input type="text" name="_gotcha" style="display:none">
                              <input type="submit" value="Submit Your Project" class="button button-ghost-white">
                              <p class="required">* Required</p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div><a href="#0" class="cd-modal-close">Close</a>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div id="contact">
          <div class="container">
            <div class="row">
              <div class="twelve columns"><a href="http://mattfarley.ca" class="logo">Matt Farley | Full Stack Designer</a>
                <p class="made-by-me">Handmade by me &copy; 2017.</p>
                <div class="social-links"><a href="https://dribbble.com/mattfarley"><i class="fa fa-dribbble"></i></a><a href="https://twitter.com/farleymatters"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/pub/matthew-farley/14/260/325" target="_blank"><i class="fa fa-linkedin"></i></a><a href="https://www.google.com/+MattFarley" target="_blank"><i class="fa fa-google-plus"></i></a><a href="https://github.com/farleym" target="_blank"><i class="fa fa-github"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script data-cfasync="false" src="javascripts/email-decode.min.js"></script><script src="javascripts/modernizr.min.js"></script>
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/jquery.easing.1.3.min.js"></script>
    <script src="javascripts/jquery.scrollto.min.js"></script>
    <script src="javascripts/custom.min.js"></script>
    <script src="javascripts/wow.min.js"></script>
    <script src="javascripts/velocity.min.js"></script>
    <script>
      new WOW().init();
      
    </script>
    <!-- Basin Form Analytics-->
    <script src="https://usebasin.com/f/363b98eca5af/ahoy.js" async="" defer=""></script>
  </body>
</html>