
<!DOCTYPE html>
<html>
  <head>
    <title>Daniel Pinho Monteiro | Full Stack Developer</title>
    <!-- Required meta tags always come first-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Daniel Pinho Monteiro">
    <meta name="author" content="Daniel Pinho Monteiro">
    <meta property="og:locale" content="pt_BR">
    <meta name="description" content="Daniel Pinho Monteiro | Full Stack Developer">
    <meta property="og:description" content="Daniel Pinho Monteiro | Full Stack Developer">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="canonical" href="http://danielpinhomonteiro.com">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="application/ld+json">
      {"@context":"http://schema.org","@type":"WebSite","name":"Daniel Pinho Monteiro","headline":"Daniel Pinho Monteiro","author":{"@type":"Person","name":"Daniel Pinho Monteiro"},"description":"Daniel Pinho Monteiro | Desenvolvedor Full Stack","url":"http://www.danielpinhomonteiro.com/"}
      
    </script>
  </head>
  <body>
    <div id="wrapper">
      <header></header>
      <!-- Start Hero Section-->
      <div id="fullscreen-hero" class="home-hero">
        <a href="#" class="home-logo">
          <img src="images/logo.png">
        </a>
        <div class="hero-container">
          <div class="hero-content">
            <h1 class="cd-headline letters type"><span>Hi, I'm Daniel. I design &amp; build</span><br><span class="cd-words-wrapper"><b class="is-visible">web systems.</b><b>web sites.</b><b>e-commerce.</b><b>mobile apps.</b></span></h1>
            
            <div class="page-scroll">
              <a href="#sub-footer" class="button button-ghost">Get in touch</a>
            </div>

            <div class="page-scroll learn-more"><a href="#me">Learn more about what I do<br><i class="fa fa-chevron-down"></i></a></div>
          </div>
        </div>
      </div>
      <!-- Start Experience Section-->
      <section id="me">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">My Expertise</p>
              <p class="statement gunmetal">I've 10+ years of experience in all software development process.</p>
            </div>
          </div>

          <div class="row">
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-diamond yellow"></i>
                <h4 class="title slate">Ideas</h4>
                <p class="summary">I collaborate with clients and peers to bring ideas to life. After all, we define requirements and plan the activities and roadmap.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-magic yellow"></i>
                <h4 class="title slate">Front-end</h4>
                <p class="summary">I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I translate image screens on front-end code.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-code yellow"></i>
                <h4 class="title slate">Back-end</h4>
                <p class="summary">I code all business rules, adopting best practices and design patterns, facilitating future enhancements and maintaince.</p>
              </div>
            </div>
          </div>

          <div class="row mb-30">
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-database yellow"></i>
                <h4 class="title slate">Database</h4>
                <p class="summary">I define all database models and structures, assuring that all data is persisted and safe.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-cloud yellow"></i>
                <h4 class="title slate">Integrations</h4>
                <p class="summary">I can develop any kind of integration with other systems, through REST and SOAP webservices.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><i class="fa fa-search yellow"></i>
                <h4 class="title slate">Test</h4>
                <p class="summary">I design all the code to be testable automatically, and then develop unit, integration and performance tests.</p>
              </div>
            </div>
          </div>

          <div class="page-scroll">
            <a href="https://www.linkedin.com/in/daniel-pinho-monteiro-219aa463/" target="_blank" class="button button-blue">
              <i class="fa fa-linkedin yellow"></i>
              <span>Full profile on Linkedin</span>
            </a>
          </div>

        </div>
      </section>
      <!-- Start Work Section-->
      <div id="work">
        <div class="container">
          <div class="row">
            <div class="twleve columns">
              <p class="intro slate">My Recent Work</p>
              <p class="statement gunmetal">These are the most recent projects i've been working.</p>
            </div>
          </div>

          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-left">
                <img src="images/projects/embraer.png" class="project-image">
              </div>
              <div class="six columns u-pull-right">
                <div class="project-content text-right">
                  <h3 class="project-title">Embraer</h3>
                  <ul class="project-tags">
                    <li>HTML5, CSS3, Javascript</li>
                  </ul>
                  <p class="project-description">Embraer S.A. is a Brazilian aerospace conglomerate that produces commercial, military, executive and agricultural aircraft and provides aeronautical services.</p>
                  <a href="http://www.embraer.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-right"><img src="images/projects/primeiro-sonho.png" class="project-image"></div>
              <div class="six columns u-pull-left">
                <div class="project-content text-left">
                  <h3 class="project-title">PrimeiroSonho</h3>
                  <ul class="project-tags">
                    <li>NodeJS, MongoDB, Bootstrap, jQuery, AWS</li>
                  </ul>
                  <p class="project-description">PrimeiroSonho is a web and mobile portal where property owners can buy and sell their properties.</p>
                  <a href="http://www.primeirosonho.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-left"><img src="images/projects/wetaste.png" class="project-image"></div>
              <div class="six columns u-pull-right">
                <div class="project-content text-right">
                  <h3 class="project-title">WeTaste</h3>
                  <ul class="project-tags">
                    <li>PHP, MySQL, Bootstrap, jQuery, AWS</li>
                  </ul>
                  <p class="project-description">WeTaste is a marketplace where chefs and cookers can make a culinary event, and food lovers can enjoy it.</p>
                  <a href="http://www.wetaste.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-right"><img src="images/projects/salaodecarros.png" class="project-image"></div>
              <div class="six columns u-pull-left">
                <div class="project-content text-right">
                  <h3 class="project-title">SalaoDeCarros</h3>
                  <ul class="project-tags">
                    <li>PHP, Bootstrap ,jQuery</li>
                  </ul>
                  <p class="project-description">Salão de Carros is a web portal to share informations about automobile market.</p>
                  <a href="http://www.salaodecarros.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>

          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-left">
                <img src="images/projects/meatnet.png" class="project-image">
              </div>
              <div class="six columns u-pull-right">
                <div class="project-content text-right">
                  <h3 class="project-title">MeatNet</h3>
                  <ul class="project-tags">
                    <li>NodeJS, Angular, MongoDB, Materialize, AWS</li>
                  </ul>
                  <p class="project-description">MeatNet is an e-commerce to that sells best quality meats to refined palate.</p>
                  <a href="http://www.meatnet.com.br" target="_blank" class="button button-primary">Visit Website</a>
                </div>
              </div>
            </div>
          </section>
          
        </div>
      </div>

      <!-- Start WIP Section-->
      <section id="wip">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">Personal Projects</p>
              <p class="statement gunmetal">When I'm free, I develop open source projects.</p>
            </div>
          </div>
          <div class="row">
            <div class="one-third column">
              <div class="expertise-block wow">
                <a href="#" target="_blank" class="startup-brand"><img src="/images/projects/burger-builder.png"></a>
                <p class="description">React Burger Builder is a platform to order burger where the client chooses his favorite ingredients.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block">
                <a href="#" target="_blank" class="startup-brand">
                  <img src="/images/projects/ionic-firebase-chat.png">
                </a>
                <p class="description">Ionic Firebase Chat is an app that allow user to talk through the use of high technologies.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block">
                <a href="#" target="_blank" class="startup-brand">
                  <img src="/images/projects/spotify-web-player.png">
                </a>
                <p class="description">Spotify Web Player is an web aplication that plays an abstract of Spotify playlist.</p>
              </div>
            </div>
          </div>

          <div class="row mb-30">
            <div class="one-third column">
              <div class="expertise-block">
                <a href="#" target="_blank" class="startup-brand">
                  <img src="/images/projects/react-intro.png">
                </a>
                <p class="description">React Intro is a project to provide an introduction exemple of how React works.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block wow">
                <a href="#" target="_blank" class="startup-brand"><img src="/images/projects/angular-materialize.png"></a>
                <p class="description">Angular Materialize CRUD is a simple example of using Angular + Materialize in Create / Read / Update / Delete operations.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block">
                <a href="#" target="_blank" class="startup-brand"><img src="/images/projects/bitcoin-converter.png"></a>
                <p class="description">Bitcoin Converter is a CLI to provide the current value o Bitcoin in the currency that users input.</p>
              </div>
            </div>
          </div>

          <div class="page-scroll">
            <a href="https://github.com/danielmonteiro" target="_blank" class="button button-blue">
              <i class="fa fa-github yellow"></i>
              <span>Projects on Github</span>
            </a>
          </div>

        </div>
      </section>

      <!-- Start Action Section-->
      <section id="sub-footer" class="cd-section">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two columns">
              <p class="intro slate">Want to work together?</p>
              <p class="statement slate">I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
              <div class="cd-modal-action"><a href="#0" data-type="modal-trigger" class="btn">Get Started</a><span style="" class="cd-modal-bg"></span>
                <div class="cd-modal">
                  <div class="cd-modal-content">
                    <!-- modal content here-->
                    <div class="container">
                      <div class="row">
                        <div class="twelve columns">
                          <div class="contact-header">
                            <a href="http://www.danielpinhomonteiro.com" class="logo"><img src="/images/logo.png" /></a>
                          </div>
                        </div>
                      </div>
                      <div class="form-contact">
                        <div class="row">
                          <div class="eight columns offset-by-two columns">
                            <p class="intro white">Please, fill the contact form below.</p>
                            <p class="statement white">I'll reply your message as soon as possible.</p>
                          </div>
                        </div>
                        <div class="form-container">
                          
                          <form accept-charset="UTF-8" action="/send-message" method="POST" id="form-contact">
                            <div class="row">
                              <div class="six columns">
                                <input id="name" type="text" name="name" placeholder="Name *" required="" class="u-full-width">
                              </div>
                              <div class="six columns">
                                <input id="email" type="email" name="email" placeholder="Email *" required="" class="u-full-width">
                              </div>
                            </div>
                            <div class="row">
                              <div class="six columns">
                                <input id="phone" type="text" name="phone" placeholder="Phone" class="u-full-width">
                              </div>
                              <div class="six columns">
                                <input id="website" type="text" name="website" placeholder="Website" class="u-full-width">
                              </div>
                            </div>
                            <div class="row">
                              <div class="twelve columns">
                                <textarea id="Message" name="message" placeholder="Tell me about your project... what is it? Why are you doing it? What do you hope to accomplish? How can I help? Timeline and budget details are also appreciated. *" height="50em" required="" class="u-full-width"></textarea>
                                <input type="text" name="_gotcha" style="display:none">
                                <input type="submit" value="Send Message" class="button button-ghost-white">
                                <p class="required">* Required</p>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><a href="#0" class="cd-modal-close">Close</a>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div id="contact">
          <div class="container">
            <div class="row">
              <div class="twelve columns"><a href="http://www.danielpinhomonteiro.com" class="logo">Daniel Pinho Monteiro | Full Stack Developer</a>
                <p class="made-by-me">Daniel Pinho Monteiro &copy; <%=new Date().getFullYear()%>.</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/daniel-pinho-monteiro-219aa463/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="https://github.com/danielmonteiro" target="_blank"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script data-cfasync="false" src="javascripts/email-decode.min.js"></script><script src="javascripts/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="javascripts/jquery.easing.1.3.min.js"></script>
    <script src="javascripts/jquery.scrollto.min.js"></script>
    <script src="javascripts/custom.min.js"></script>
    <script src="javascripts/wow.min.js"></script>
    <script src="javascripts/velocity.min.js"></script>
    <script>
      new WOW().init();
      
      $("#form-contact").on('submit', function(event) {
        event.preventDefault();
        event.stopPropagation();

        $.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          data: $(this).serialize(),
          success: function(resp) {
            $('.form-contact').html(`
              <p>Your message was successfully sent!</p>
              <div class="page-scroll">
                <a href="#" class="button button-blue">
                  <span style="color: white;">Back</span>
                </a>
              </div>
            `);
          },
          error: function() {
            $('.form-contact').html(`
              <p>Sorry... an error occurred...</p>
              <div class="page-scroll">
                <a href="#" class="button button-blue">
                  <span style="color: white;">Back</span>
                </a>
              </div>
            `);
          }
        });
      });

      $('body').on('click', '.form-contact .button-blue', function() {
        $('.cd-modal-close').trigger('click');
      })

    </script>
  </body>
</html>